#ylakuva {
    width: 100%;
    height: 30vw;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 0) 100%), url("../kuvat/Ottelubg.jpeg");
    background-position: center;
    background-size: cover;
}

#satunnainen-keski-sisalto {
    display: flex;
    width: 100%;
    height: 60vh;
    background-color: rgb(0, 0, 0);
}

.keskisisalto {
    margin: auto;
    color: white;
}

#keski1 {
    width: 15%;
    height: 25vh;
}

#keski2 {
    width: 25%;
    height: 45vh;
    background-color: rebeccapurple;
}
#someupotus {
    width: auto;
    height: 100%;
}
iframe {
    width: 100%;
    height: 100%;
}
#keski3 {
    width: 20vw;
    height: 35vh;
    background-color: rgb(22, 22, 22);
}

#keski1 h2 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#keski3 h2 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: auto;
    padding: 5%;
    text-align: center;
}

#kumppanit {
    width: 100%;
    height: 30vh;
    background-color: bisque;
}


.fa {
    padding: 10%;
    font-size: 30px;
    width: 15%;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
@media screen and (max-width:650px) {
    #satunnainen-keski-sisalto {
        flex-direction: column;
        height: auto;
    }
    #keski1 {
        width: auto;
        height: auto;
        text-align: center;
    }
    .fa {
        margin: auto;
    }
    .keskisisalto {
        margin-bottom: 5%;
    }
    #keski2 {
        width: 70vw;
    }
    #someupotus {
        width: 30vw;
        height: 100%;
        margin: 0%;
    }
    #keski3 {
        width: 60%;
    }
}