#ylakuva {
    width: 100%;
    height: 30vw;
    background-image: url("../kuvat/Ottelubg.jpeg");
    background-position: center;
    background-size: cover;
}
#satunnainen-keski-sisalto {
    display:flex;
    width: 100%;
    object-fit: cover;
    background-color: rgb(0, 0, 0);
}
.keskisisalto {
    margin: auto;
}
#keski1 {
    width: 67%;
    height: fit-content;
    background-color: rgb(22, 22, 22);
}
#keski1 h1, p{
    color: white;
    padding: 1vh;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#keski3 p {
    margin: auto;
    padding: 5%;
}
#kumppanit {
    width: 100%;
    height: 30vh;
    background-color: bisque;
}
h1 {
    text-align: center;
}