body {
    font-family:'Source Sans Pro', sans-serif;
    margin: 0%;
}
header {
    background-image: linear-gradient(to bottom, #faec0a 0%, #faec0a 50%, black 50%, black 100%);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "logo topnav topnav" "logo bottomnav bottomnav";
    column-gap: 0vw;
}
h1 {
    font-size: 300%;
}
p {
    margin: 0%;
}
#logokuva {
  justify-self: center;
  grid-area: logo;
}
#topnav {
  justify-self: start;
  align-self: center;
  grid-area: topnav;
}
#bottomnav {
  justify-self: start;
  align-self: end;
  width: 100%;
  height: 7.9vh;
  grid-area: bottomnav;
}
footer {
    background-color: rgb(10, 10, 1);
    color: white;
    bottom: 0%;
    height: 5vh;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    width: 20%;
    float: left;
  }
  
  li a {
    height: 5vh;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #faec0a;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  .active {
    background-color: #faec0a;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
