body {
    font-family:'Source Sans Pro', sans-serif;
    margin: 0%;
    height: 100%;
}
header {
    background-image: linear-gradient(to bottom, #faec0a 0%, #faec0a 50%, black 50%, black 100%);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "logo topnav topnav" "logo bottomnav bottomnav";
    column-gap: 0vw;
    max-height: 230px;
    position: relative;
}
h1 {
    font-size: 300%;
}
p {
    margin: 0%;
}
#logokuva {
  justify-self: center;
  grid-area: logo;
}

#logo{
  max-height: 95%;
}

#topnav {
  justify-self: start;
  align-self: center;
  grid-area: topnav;
}
#bottomnav {
  justify-self: start;
  width: 100%;
  height: fit-content;
  grid-area: bottomnav;
  position: relative;
  top: 14%;
}
footer {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(10, 10, 1);
    color: white;
    bottom: 0%;
    height: 5vh;
}
#foot2 {
  padding-right: 1%;
  text-align: right;
  position: relative;
  right: 1vw;
}
#foot2 a {
  text-decoration: none;
  color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

  ul ul {
    width: 20%;
    display: none;
    position: absolute;
  }
  ul ul li {
    width: 100%;
  }
  ul li:hover > ul {
    display: inherit;
  }

  li {
    width: 20%;
    float: left;
  }
  
  li a {
    height: 3vh;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #faec0a;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  .active {
    background-color: #faec0a;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

/*Tää on kai sit vähän isommille mobiileille*/
@media screen and (max-width:650px) {
  header {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "logo topnav" "logo ." "bottomnav bottomnav";
    max-height:fit-content;
  }
  ul {
    max-height: fit-content;
  }
  li {
    width: 100%;
    float:none;
  }
  li ul li {
    width: 100%;
  }
  #bottomnav {
    height:33vh;
    top: -2%;
  }
  h1 {
    font-size: 240%;
  }
  ul ul {
    width: 100%;
  }
}
/*Tää on pienille mobiililaitteille, esim. puhelimille*/
@media screen and (max-width:420px) {
  header {
    background-image: none;
    background-color: #faec0a;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "topnav" "logo" "bottomnav";
    max-height:fit-content;
  }
  #topnav {
    margin: auto;
  }
  #bottomnav {
    height:35vh;
  }
  h1 {
    font-size: 300%;
  }
}